:root{
  --border-colour: #d7d7d7
}

.App {
  border: 3px solid var(--border-colour);
  max-width: 80ch;
  margin: 1em auto 0;
  font-size: 14px;
  padding: 2em;
}

.appTitle{
  font-size: 1.4em;
  margin: 0 0 1em;
}